#wrapper {
  width: 960px;
  margin: 0 auto;
}

table.board {
  border: 4px solid #2f2f2f;
  border-spacing: 0;
}
.square {
  width: 44px;
  height: 44px;
}
.white {
  color: #f0d9b5;
}
.black {
  background-color: #b58863;
}
.piece {
  width: 44px;
  height: 44px;
  cursor: pointer;
}
.white_pawn, .P {
  background: url(/images/pieces/alpha/44/wp.png);
}
.black_pawn, .p {
  background: url(/images/pieces/alpha/44/bp.png);
}
.white_rook, .R {
  background: url(/images/pieces/alpha/44/wr.png);
}
.black_rook, .r {
  background: url(/images/pieces/alpha/44/br.png);
}
.white_knight, .N {
  background: url(/images/pieces/alpha/44/wn.png);
}
.black_knight, .n {
  background: url(/images/pieces/alpha/44/bn.png);
}
.white_bishop, .B {
  background: url(/images/pieces/alpha/44/wb.png);
}
.black_bishop, .b {
  background: url(/images/pieces/alpha/44/bb.png);
}
.white_queen, .Q {
  background: url(/images/pieces/alpha/44/wq.png);
}
.black_queen, .q {
  background: url(/images/pieces/alpha/44/bq.png);
}
.white_king, .K {
  background: url(/images/pieces/alpha/44/wk.png);
}
.black_king, .k  {
  background: url(/images/pieces/alpha/44/bk.png);
}
[move=valid] {
  background-color: #0f0;
}
[move=invalid] {
  background-color: #f00;
}
.check {
  background-color: #f00;
  border-radius: 10px / 10px;
  border: solid 1px #000;
  width: 10px;
  height: 10px;
}

#game_info {
    float: left;
    width: 300px;
}

/* Trait */
#trait.w, #trait.b {
    float: right;
    border-radius: 10px / 10px;
    border: solid 1px #000;
    width: 15px;
    height: 15px;
    margin-right: 260px;
    margin-top: 342px;
}

#trait.b {
  background-color: #000;
}

